// Roboto font face definitions
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: oblique;
  font-weight: 300;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: oblique;
  font-weight: 400;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: oblique;
  font-weight: 500;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: oblique;
  font-weight: 700;
  src: url("../../vendor/googlefonts/roboto-2/Roboto-BoldItalic.ttf");
}