<table id="view_services_datatable" class="display table table-striped table-responsive">
    <thead>
    <tr>
        <th>Service Name</th>
        <th>FQCN</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>