{% extends 'base.html.twig' %}
{% block body %}
<div class="row align-items-center ">
    <div class="col-lg-8 offset-lg-2">
        <div class="card shadow-3-strong">
            <div class="card-header">
                <h1 class="display-6 card-title pt-3">{% block cardTitle %}Placeholder{% endblock %}</h1>
            </div>
            <div class="card-body border-bottom">
                {% block cardDescription %}
                {% endblock %}
            </div>
            {% block cardContent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}