<header class="fixed-top shadow-3-strong">
    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path("root") }}">
                <img height="32px" class="pe-1" src="{{ asset("img/ACM_Logo.svg") }}" alt="ACM Chapter logo"/>
                UND ACM E-Forms
            </a>
            <div class="navbar-nav">
                <a class="nav-link" href="https://discord.gg/HtpK4rV8R2">Discord</a>
                <a class="nav-link" href="https://acm.cs.und.edu/wiki">Wiki</a>
            </div>
        </div>
    </nav>
</header>