{% extends '/layouts/card.html.twig' %}
{% block title %}Home{% endblock %}
{% block cardTitle %}UND ACM E-Forms{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        You've reached the ACM E-Forms homepage. Please select a form from the list below.
    </p>
{% endblock %}

{% block cardContent %}
    <div class="card-body">
        <dl>
            <dt><a href="{{ path("register") }}" class="text-decoration-underline">Account Registration</a></dt>
            <dd>Register for an account on the ACM's server system</dd>

            <dt><a href="{{ path("resetForm") }}" class="text-decoration-underline">Password Reset</a></dt>
            <dd>Reset your ACM server account password</dd>

            <dt><a href="{{ path("requestMoreGroups") }}" class="text-decoration-underline">Group Request</a></dt>
            <dd>Request access to a new service</dd>
        </dl>
    </div>
{% endblock %}