{% extends 'mail/base.html.twig' %}
{% block body %}
    <p>
        A password reset link has been requested for your account. Please use the link below to change your password.
        If you did not make this request, you may ignore this email.
    </p>
    <a href="{{ url("setNewPassword") }}?token={{ token }}">{{ url("setNewPassword") }}</a>
{% endblock %}