{% extends '/components/card.html.twig' %}
{% block title %}Set Password{% endblock %}
{% block cardTitle %}Server Account Registration{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        Your account has been approved. Please set a password below. In line with UND policy, the password must be at
        least 14 characters long. Please do NOT set this password to the same one as your UND password.
    </p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input
                            class="form-control"
                            type="password"
                            id="password"
                            name="password"
                            minlength="14"
                            onkeyup="validatePasswords()"
                            required
                    >
                </div>
                <div class="col-md-6">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input
                            class="form-control"
                            type="password"
                            id="passwordConfirm"
                            name="passwordConfirm"
                            minlength="14"
                            onkeyup="validatePasswords()"
                            required
                    >
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    id="submitBtn"
                    type="button"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("createAccountSubmit") }}"
                    disabled>
                Submit Registration
            </button>
        </div>
    </form>

{% endblock %}