{% extends '/layouts/card.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block cardTitle %}Reset Password{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        To request a password reset for an already registered account, fill out the form below.
        If an account is registered to the supplied {{ config("parentOrgAccountDescription")|default("email") }}, a
        message will be dispatched to you containing a password reset link.
    </p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-12">
                    <twig:email_input name="email" id="email"/>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("resetFormSubmit") }}">
                Request Reset
            </button>
        </div>
    </form>
{% endblock %}