{% extends '/layouts/card.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block cardTitle %}Reset Password{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        To request a password reset for an already registered account, enter your NDUS identifier below.
        If an account is registered to that identifier, an email will be dispatched to your email containing
        a password reset link.
    </p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-12">
                    <label for="identifier">Your NDUS Identifier <span
                                class="bi-question-square-fill px-1"
                                data-mdb-popover-init
                                data-mdb-trigger="hover"
                                data-mdb-content="This is the same as your username for Blackboard, Campus Connection, or other UND/NDUS systems. This is required so we can verify your status as a UND student."></span>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="identifier" name="identifier"/>
                        <span class="input-group-text">{{ emailSuffix }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("resetFormSubmit") }}">
                Request Reset
            </button>
        </div>
    </form>
{% endblock %}