{% extends '/layouts/card.html.twig' %}
{% block title %}Set Password{% endblock %}
{% block cardTitle %}Password Reset{% endblock %}

{% block cardDescription %}
    <p class="card-text">
        Please set a password below. The password must be at
        least 14 characters long.
        {% if config("emailSuffix")|default("") is not empty %}
        Please do NOT set this password to the same one as your {{ config("organization")|default("organizational account's") }} password.
        {% endif %}
    </p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input
                            class="form-control"
                            type="password"
                            id="password"
                            name="password"
                            minlength="14"
                            onkeyup="validatePasswords()"
                            required
                    >
                </div>
                <div class="col-md-6">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input
                            class="form-control"
                            type="password"
                            id="passwordConfirm"
                            name="passwordConfirm"
                            minlength="14"
                            onkeyup="validatePasswords()"
                            required
                    >
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    id="submitBtn"
                    type="submit"
                    class="btn btn-primary"
                    data-request-method="POST"
                    data-request-path="{{ path("setNewPasswordSubmit") }}"
                    disabled>
                Set Password
            </button>
        </div>
    </form>

{% endblock %}