<p>Pick a group from the View Groups tab to begin.</p>
<table id="edit_members_datatable" class="display table table-striped table-responsive visually-hidden">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>