<table id="view_groups_datatable" class="display table table-striped table-responsive">
    <thead>
    <tr>
        <th>Group Name</th>
        <th>Number of Members</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>