{% extends '/layouts/card.html.twig' %}
{% block title %}Groups{% endblock %}
{% block cardTitle %}Request Group Permissions{% endblock %}

{% block cardDescription %}
<p class="card-text">
    Access to specific services are assigned via group permissions. To request addition to a group, fill out
    the form below. A moderator will then be prompted to modify your account's group memberships.
</p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-12">
                    <twig:email_input name="email" id="email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="requestDetails" class="pt-3">Request Details</label>
                    <textarea class="form-control" id="requestDetails" name="requestDetails"></textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-request-method="POST"
                    data-request-path="{{ path("requestMoreGroupsSubmit") }}">
                Request Change
            </button>
        </div>
    </form>
{% endblock %}