{% extends '/layouts/card.html.twig' %}
{% block title %}Register{% endblock %}
{% block cardTitle %}Server Account Registration{% endblock %}

{% block cardDescription %}
<p class="card-text">
    To gain access to servers and applications managed by {{ config("organization")|default("your organization") }}, you
    must apply for an account. To get a registration link, fill out the form below
    to request approval for account creation.
</p>
{% endblock %}

{% block cardContent %}
    <form>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-12">
                    <twig:email_input id="email" name="email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName" class="pt-3">First Name</label>
                    <input class="form-control" type="text" id="firstName" name="firstName"/>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="pt-3">Last Name</label>
                    <input class="form-control" type="text" id="lastName" name="lastName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="additionalInfo" class="pt-3">Additional Information <span
                                class="bi-question-square-fill px-1"
                                data-bs-toggle="popover"
                                data-bs-trigger="hover"
                                data-bs-content="If you need access to something more than traditional baseline permissions and haven't already discussed it with {{ config("organization")|default("your organization's") }} leadership, write down what you need here."></span>
                    </label>
                    <textarea class="form-control" id="additionalInfo" name="additionalInfo"></textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-mdb-ripple-init
                    data-request-method="POST"
                    data-request-path="{{ path("submitRegistration") }}">
                Request Account
            </button>
        </div>
    </form>
{% endblock %}