{% extends 'mail/base.html.twig' %}
{% block body %}
    <p>
        Your group request has been processed by a moderator. The following verdict was left for your request:
    </p>
    <blockquote>
        <p>
            {{ verdict }}
        </p>
    </blockquote>
{% endblock %}